
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/log
/var/log/*
!var/log/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
###< symfony/webpack-encore-pack ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> docker ###
/docker-env
/docker-compose.yml
###< docker ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
