version: '3'

services:
  apache:
    image: httpd:2.4
    container_name: mongobox_apache
    env_file: docker-env
    ports:
      - "82:80"
      - "445:443"
    volumes:
      - <dossier du projet mongobox>:/var/www/mongobox
      - <dossier de mongobox>/docker/apache/extra/vhosts:/etc/apache2/sites-available
    tty: true
    depends_on:
      - "blackfire"

  php:
    build:
        context: ./docker/php
    container_name: mongobox_php
    env_file: docker-env
    ports:
      - "82:80"
      - "445:443"
    volumes_from:
      - apache
    tty: true
    depends_on:
      - "blackfire"

  mysql:
    container_name: mongobox_mysql
    image: mariadb:10.2
    env_file: docker-env
    ports:
    - "3306:3306"
    volumes:
    - /var/lib/mysql:cached
    tty: true

  mailcatcher:
    image: schickling/mailcatcher
    container_name: mongobox_mailcatcher
    env_file: docker-env
    ports:
      - "1080:1080"

  blackfire:
    image: blackfire/blackfire
    container_name: mongobox_blackfire
    env_file: docker-env
    ports:
      - "8707:8707"

  nodejs:
    build:
        context: ./docker/nodejs
    container_name: mongobox_nodejs
    env_file: docker-env
    ports:
      - "8888:8888"
    volumes_from:
      - apache
