##### WEB
XDEBUG_IDE_KEY=PHPSTORM
XDEBUG_SERVER_NAME='xdebug-server-mongobox'

##### MYSQL
MYSQL_ROOT_PASSWORD=password

##### BLACKFIRE
BLACKFIRE_PORT=8707
BLACKFIRE_LOG_LEVEL=4
BLACKFIRE_SERVER_ID=
BLACKFIRE_SERVER_TOKEN=
BLACKFIRE_CLIENT_ID=
BLACKFIRE_CLIENT_TOKEN=

